body{
    background-image: url(../image/Group\ 3080.jpg);
}
#tabs .flex-column .nav-link.active, .show > .nav-link.active{
    background-color: white;
    color: #ff1800a6;
    border-radius: 25px;
    font-weight: 500;
}
#tabs .fa-cog{
    text-align: center;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 25px;
    font-size: 22px;
}
#tabs .tab{
    background-color: black;
    border-radius: 20px;
    height: 700px;
}
#tabs .tab a{
    color: white;
}
#tabs .date .btn{
    font-size: 13px;
    border: 2px solid black;
    font-weight: 500;
    width: 161px;
}
#tabs .event-name{
    font-weight: 500;
    font-size: 24px;
}


/*HEATMAPS*/
#v-pills-heatmaps .hall .btn{
    font-size: 13px;
    border: 2px solid black;
    font-weight: 500;
    width: 161px;
}
#v-pills-heatmaps .filter .head{
    background-color: black;
    height: 44px;
    border-radius: 25px;
    box-shadow: 1px 1px 6px;
    width: 170px;
    margin: auto;
}
#v-pills-heatmaps .filter{
    border: 0;
}
#v-pills-heatmaps .filter p{
    font-size: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 5px;
}
#v-pills-heatmaps .filter label {
    font-weight: 600;
    color: #000000bd;
}
#v-pills-heatmaps .list-group{
    list-style: none;
}
#v-pills-heatmaps .list-group li{
    background-color: black;
    border-radius: 30px;
    width: 37px ;
    height: 37px;
    box-shadow: 0 0 10px;
    margin: auto;
}
#v-pills-heatmaps .list-group li .fas{
    color: white;
    font-size: 14px;
    
}
#v-pills-heatmaps .maap{
    background-color: white;
    box-shadow: 0 0 5px;
    width: 40px;
    height: 40px;
    margin: auto;
    border-radius: 9px;
}
#v-pills-heatmaps .maap .fa-map {
    margin-top: 11px;
}





/* ZONE*/
#v-pills-zone .counter{
    box-shadow: 0 0 20px #0000001f;
    border-radius: 25px;

}

#v-pills-zone .counter h4{
    font-size: 17px;
    color: #00000087;
}
#v-pills-zone .counter p{
    font-size: 15px;
    font-weight: 700;
}
#v-pills-zone .filter .head{
    background-color: black;
    height: 44px;
    border-radius: 25px;
    box-shadow: 1px 1px 6px;
    width: 170px;
    margin: auto;
}
#v-pills-zone .filter{
    border: 0;
}
#v-pills-zone .filter .head p{
    font-size: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 5px;
}
#v-pills-zone .filter label {
    font-weight: 600;
    color: #000000bd;
}
#v-pills-zone .list-group{
    list-style: none;
}
#v-pills-zone .list-group li{
    background-color: black;
    border-radius: 30px;
    width: 37px ;
    height: 37px;
    box-shadow: 0 0 10px;
    margin: auto;
}
#v-pills-zone .list-group li .fas{
    color: white;
    font-size: 14px;
    
}
#v-pills-zone .maap{
    background-color: white;
    box-shadow: 0 0 5px;
    width: 40px;
    height: 40px;
    margin: auto;
    border-radius: 9px;
}
#v-pills-zone .maap .fa-map {
    margin-top: 11px;
}

#v-pills-zone a .fas{
    color: black;
    font-size: 25px;
    
}
#v-pills-zone  .d-flex{
    column-gap: 60px;
    
}
#v-pills-zone  .d-flex .controll{

    background-color: white;
    box-shadow: 0 0 4px;
    border-radius: 8px;
}